


.aboutMeImgWrapper{
    width: 50%;
    position: relative;
    transition: 0.2s ease;
}

.aboutMeImg{
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
    object-fit: cover;
}



@media screen and (max-width: 1300px){
    
    .aboutMeImgWrapper{
        width: 100%;
        height: 500px;
    }
 
    
}


