

.footerContainer{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    top: -8px;
    font-size: 1rem;
}

.subtitle{
    color: #C3A29E;
    font-size: 1rem;
}


.footerInformation{
    margin: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.dataprivacyLink{
    color: #7392B7;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0px 10px;
}

.impressumLink{
    color: lightgrey;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0px 10px;
}




@media screen and (max-width: 800px){
    .footerContainer{
        padding: 10px 0px;
        transition: 0.4s ease;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerInformation{
        margin: 0;
    }

    .subtitle{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 300px){
    
    .dataprivacyLink{
        font-size: 1rem;
    }
}