

.footerContainer{
    height: 10vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  rgba(225,166,173, 0.6);
    width: 100vw;
    position: relative;
    top: -8px;
}


.footerInformation{
    margin: 20px;
}


.dataprivacyLink{
    color: #89CFF0;
    text-decoration: none;
    font-size: clamp(1rem, 3vw, 1.3rem);
}




@media screen and (max-width: 800px){
    .footerContainer{
        transition: 0.4s ease;
        padding: 20px;
    }
}

@media screen and (max-width: 300px){
    
    .dataprivacyLink{
        font-size: 0.9rem;
    }
}