
.headerNavigation{
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    z-index: 1000;
    overflow-x: hidden;
}


.headerTitle{
    width: 50%;
    font-size: 1.4rem;
    text-align: center;
    transition: 0.2s ease;
    color: #C3A29E;
}


@media screen and (max-width: 1300px){

    
    .headerTitle{
        width: 90%;
        font-size: 1.5rem;
        padding: 10px; 
    }

    
}



@media screen and (max-width: 900px){

    .headerTitle{
        font-size: 1.1rem;
    }
  
   
}

@media screen and (max-width: 600px){
    
    .headerTitle{
        font-size: 1.2rem;
    }
  
   
}

@media screen and (max-width: 400px){
    .headerTitle{
        padding: 3px;
    }
     .headerTitle{
        font-size: 1rem;
    }

    
}




