

.imageContainer{
    height: 70vh;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: relative;

    position: relative;
    top: -8px;
}



.image{
    width: 110vw;
    height: 100vh;
    transition: 0.2s ease;
    object-fit: cover;
    position: relative;
  

    
}