



.headerNavigation{
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    z-index: 1000;
    overflow-x: hidden;
    
}


.headerTitle{
    width: 40%;
    font-size: 1.7rem;
    text-align: center;
    transition: 0.2s ease;
    color: #C3A29E;
    
}









/*

.headerImgContainer{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}



.headerImg{
    width: 100vw;
    height: 100vh;
    transition: 0.2s ease;
    object-fit: cover;
}
*/






@media screen and (max-width: 1300px){

    .headerTitle{
        width: 50%;
        font-size: 1rem;
        padding: 10px; 
    }

    
}



@media screen and (max-width: 900px){

     .headerImg{
        display: none;
    }

    .headerImgMobile{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    
   
}

@media screen and (max-width: 700px){
    .headerTitle{
        padding: 3px;
    }
}

@media screen and (max-width: 300px){

    .headerImgMobile{
        width: 130vw;
    }
}




