.sectionContainer{
    min-height: 80vh;
    margin: 0;
    padding: 0;
    border-top: 1px solid white;
    position: relative;
    top: -8px;
    display: flex;
    justify-content: center;
}







.link{
    color: #89CFF0;
    font-weight: bolder;
    text-decoration: none;
    margin: 0px 10px;
    font-size: clamp(1.2rem, 1.9vw, 1.3rem);
}





.infoWrapper{
    text-align: justify;
    width: 80%;
    transition: 0.4s ease;
    padding: 10px;
}

.email{
    font-weight: bolder;
    font-size: 1.3rem;
    color: #89CFF0;
    text-decoration: none;
}

.link:hover, .email:hover{
    transition: 0.4s ease;
    color: darkblue;
    cursor: pointer;
}

.infoWrapper p{
    color: black;
    line-height: 20px;
    text-align: justify;
    
}

@media screen and (max-width: 1000px){
    .infoWrapper{
        width: 90%;
    }


    .info p{
        font-size: 1.2rem;
        border: 2px solid orange;
    }
}


@media screen and (max-width: 600px){
    
    .info p{
        text-align: left;
        hyphens: auto;
        word-spacing:-2px;
        font-size: 1.2rem;

        border: 2px solid green;
    }


}

@media screen and (max-width: 300px){

    .infoWrapper h2{
        word-break: break-all;
        width: 100vw;

    }
    .email{
        font-size: 1.08rem;
    }
}










@media screen and (max-width: 1300px){
  
  

    .aboutMeTextContainer{
        width: 90%;
    }

    
    .aboutMeImgWrapper{
        display: none;
    }
    
}




@media screen and (max-width: 600px){
     .aboutMeTextContainer{
        width: 95%;
    }

    .aboutMeTextContainer p {
        font-size: 1.2rem;
    }
}


