
.navigationContainer{
    width: 100%;
    z-index: 100;
    position: relative;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 100;
}

.mobileNav{
    display: none;
    z-index: 100;
}



 /* WEB NAVIGATION */

 
.navigation li{
    display: flex;
    padding: 5px 5px 0px 5px;
    max-width: 300px;
    justify-content: center;
    font-size: 1rem;
    margin: 0px 20px;
}





@media screen and (max-width: 1300px){

    .navigationContainer{
        transition: 0.4s ease;
        display: flex;
        justify-content: center;
    }

    .navigation{
        display: none;
    }

    .mobileNav{
        width: 100%;
        transition: 0.4s ease;
        margin: 10px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0px;
        top: -35px;
        width: 40px;
        height: 40px;
        z-index: 100;
    }

    .menuBar{
        width: 20px;
        height: 20px;

        z-index: 1000;
        position: relative;
    }

    .menuBar:hover{
        transition: 0.4s ease;
        color: #7392B7;
        cursor: pointer;
        font-weight: bolder;
        z-index: 100;
    }
}



@media screen and (max-width: 800px){

    .navigationContainer{
        width: 20%;
    }
}