
.activeLink{
    transition: 0.3s ease;
    cursor: pointer;
    color:#7392B7;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    
}

.inactiveLink{
    transition: 0.3s ease;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    text-weight: bolder;
}

